### Q1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.

(*)  is an expression 

'hello' is the value

-87.8 is value

-is an expression 

/ is an expression 

+is an expression 

6 is value

## Q2. What is the difference between string and variable?

variables are those which have reserved memory location to store the value. variable are three type integer, float and complex.
there are 4 type of variable Number, String, List , Tuple

whereas 

string are the sequence or collection of character, alphabet and words
For example, "Mirza Wajahat Beg"

## Q3. Describe three different data types.

dict , list , tuple

dict-> Dictionary in Python is a collection of keys values, used to store data values {key:value}
       
      Exampele

In [15]:
Dict = {1: 'Mohd', 2: 'Wajahat', 3: 'Beg','abc':'cant explain'}

In [16]:
Dict

{1: 'Mohd', 2: 'Wajahat', 3: 'Beg', 'abc': 'cant explain'}

In [18]:
print(Dict[1])

Mohd

In [19]:
Dict['abc']

'cant explain'

List-> Lists are used to store many items in a single variable 

Examle

In [5]:
A = ["My", "Name", "Khan"]

In [6]:
A

['My', 'Name', 'Khan']

tuples->  Tuples used to store multiple items in a single variable and it is separated by commas.

In [7]:
tup= ("I", "Am", "Good")

In [8]:
print(tup)

('I', 'Am', 'Good')

## 4. What is an expression made up of? What do all expressions do?

A combination of operands and operators is called an expression. The expression in Python produces some value or result after being interpreted by the Python interpreter.

 there are many type of expressions
 - Constant Expressions
 -Arithmetic Expressions
 -Integral Expressions
 -Floating Expressions
 -Relational Expressions
 -Logical Expressions
        etc

## Q5 This assignment statements, like spam = 10. What is the difference between and expression and a statement?

An expression is a combination of operators and operands that is interpreted to produce some other value.
                 
   Example -
  A=15+20  ---> 35
  
   C=50-10  ---> 40
            
            
            

A statement is an instruction that the Python interpreter can execute OR Instructions written in the source code for execution are called statements.

## Q 6. After running the following code, what does the variable bacon contain?   Bacon=22  Bacon+1

Answer---> it contain 23

In [20]:
bacon=22

In [21]:
bacon+1

23

# Q7 What should the values of the following two terms be?
spam+spamspam;     

   spam* 3

In [22]:
'spam'+'spamspam'

'spamspamspam'

In [23]:
'spam'*3

'spamspamspam'

## Q8. Why is eggs a valid variable name while 100 is invalid?

Because variable name never start with number, it always begins with alphabet

## Q9. What three functions can be used to get the integer, floating-point number, or string version of a value?

 int() , float() , and str( )

## Q10. Why does this expression cause an error? How can you fix it? 
I have eaten  + 99 + burritos.

In [26]:
'I have eaten' + 99 + 'burritos.'

TypeError: can only concatenate str (not "int") to str

here (99) is integer where as '''I have eaten burritos''' is string type. And addition of string type and integer is impossibe. thatswhy we will convert (99)integer to "99" string

In [29]:
'I have eaten ' + '99' + ' burritos.'

'I have eaten 99 burritos.'